<p>{{ ANREDE }} {{ NAME }},</p>
<p></p>
<p>um Deine neue E-Mail Adresse f&uuml;r foodsharing.de zu aktivieren klicke bitte auf den folgenden Link</p>
<p><a href="{{ LINK }}" target="_blank">{{ LINK }}</a></p>