{% import 'partials/menu.twig' as sidenav %}
{% extends 'pages/Region/baseRegion.twig' %}

{% block main %}
    {%  include 'partials/listFairteilerForRegion.html.twig' with {'region': region, 'fairteiler': fairteiler} %}
{% endblock %}

{% block right %}
    {{ sidenav.menu_tree({'items': {'href': '/?page=fairteiler&bid=' ~ region.id ~ '&sub=addFt', 'name': 'fairteiler.add_new'|trans() }}, 'options'|trans) }}
{% endblock %}
